#Square{
    width: 300px;
    height: 300px;
    background-color: black;
}

.Buttons{
    display: inline-flex;
}

#Blue{
    margin-left: 50px;
    margin-right: 5px;
}

#Red{
    margin-left: 5px;
    margin-left: 5px;
}

#Green{
    margin-left: 5px;
}