.Numbers{
    display:inline-flex;
}
#Number2{
    margin-left: 5px;
}

#Number1{
    margin-left: 150px;
    margin-right: 5px;
}

.Buttons{
    display: inline-flex;
}

#ButtonPlus{
    margin-left: 5px;
    margin-right: 5px;
}

#ButtonMinus{
    margin-left: 5px;
    margin-right: 5px;
}

#ButtonMultiply{
    margin-left: 5px;
    margin-right: 5px;
}

#ButtonDivide{
    margin-left: 5px;
}

#Result{
    margin-top: 50px;
    margin-left: 300px;
}