#formulaire{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#buttons{
    display:inline-flex;
    margin-left: 200px;
}

#sendButton{
    margin-left: 100px;
}

p{
    margin-left: 50px;
}
